.block-call {
  position: fixed;
  z-index: 4;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;

  &--hide {
    display: none !important;
  }

  &__1 {
    padding-top: 24px;
    padding-left: 16px;
    padding-bottom: 0;

    button {
      background-color: #fff;
      border: none;
      height: 40px;
      width: 40px;

      &:hover {
        cursor: pointer;
        filter: hue-rotate(-90deg);
        transition: all 0.8s;
      }
    }
  }

  &__2 {
    padding-top: 40px;

    h1 {
      margin-bottom: 24px;
    }

    form {
      display: grid;
      padding: 0 16px;

      input {
        height: 48px;
        padding: 0 16px;
        margin-bottom: 16px;
        border: 1px solid #eaeaea;
        border-radius: 8px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;

        &:invalid {
          border-color: #ff3e79;
        }

        &:focus {
          outline: none;
          border-color: #41f6d7;
        }
      }

      textarea {
        height: 118px;
        padding: 16px;
        margin-bottom: 16px;
        border: 1px solid #eaeaea;
        border-radius: 8px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;

        &:focus {
          outline: none;
          border-color: #41f6d7;
        }
      }

      p {
        font-size: 14px;
        line-height: 16px;

        a {
          text-decoration: none;
          color: #ff3e79;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      button {
        margin-top: 24px;
        margin-left: auto;
      }
    }
  }
}

@media (min-device-width: 768px) {
  .block-call {
    display: grid;
    grid-template-columns: auto 440px;

    h1 {
      &::before {
        margin-right: 28px;
      }
    }

    &__1 {
      display: grid;
      width: 100%;
      padding: 0;
      padding-top: 40px;
      padding-right: 32px;
      justify-items: end;
    }

    form {
      padding: 0 32px;
    }
  }
}
