.offer {
  margin-left: 16px;
  p {
    &:first-of-type {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
    }

    &:last-of-type {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      margin-top: 16px;
      font-weight: 500;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: #ff3e79;
      }

      &::after {
        display: flex;
        content: '';
        height: 7px;
        width: 7px;
        border-top: 2px solid #ff3e79;
        border-left: 2px solid #ff3e79;
        transform: rotate(135deg);
        margin-left: 10px;
      }
    }
  }
}

@media (min-device-width: 768px) {
  .offer {
    margin-left: 24px;
  }
}

@media (min-device-width: 1366px) {
  .offer {
    margin-left: 32px;
  }
}
